.Navbar,.Search{
    display: flex;
}
.dark .Navbar{
    --tw-bg-opacity: 1;
    background-color: rgb(31 41 55/var(--tw-bg-opacity));
}
.More{
    display: none;
}
.MoreOptions{
    display: none;
}

@media(max-width:991px){
    .More{
        display: block;
    }
    .LogInbtn,.RegisterBtn{
        display: none;
    }
    .MoreOptions{
        display: block;
    }
}